            #b3commands {
                border-collapse: collapse;
            }
            
            #b3commands th, #b3commands td {
                font-family: Arial, Helvetica, SansSerif;
                border: 2px solid black;
                padding: 5px;
            }
            
            #b3commands th {
                font-weight: bold;
                background-color: lightgray;
                text-transform: capitalize;
            }
            #b3commands td {
                font-size: 12px;
            }
            #b3commands .b3MaxLevel {
                display: none;
            }
            body {
                font-family: tahoma,sans-serif;
                color: #3F3B3B;
                font-size: 12px;
                margin: 0;
            }
            
            #header {
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAACWCAYAAAAfduJyAAAAAXNSR0IArs4c6QAAAAZiS0dEAIcAiACHZn+LRgAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB9oCGRQCLt1vun0AAAAZdEVYdENvbW1lbnQAQ3JlYXRlZCB3aXRoIEdJTVBXgQ4XAAAAqklEQVQoz3WSwRXDMAhDv7RKZ8jIXagL0QMxNo5zgycBQsDv+wmu6woLMBKWhIEWUYBGypJyKBOWRirAgbDFjd7TRoM5PMkSdgEUIAmHAhs3IMnViiZo15cyahmPikXLIXKSaZ3ZRrbNI3lP8muDxWcJE8Iyj41CDIdoFRKYcM09eT+HTzfqAIqesq5FGKPAThnly3buecHXcy8bPT8nI1e0K32rULT242P/N0QVV4uoqV8AAAAASUVORK5CYII=) repeat-x;
                height: 150px;
            }
            #logo {
                margin: 0 auto;
                width: 950px;
                height: 150px;
                cursor: pointer;
            }
            #logo img {
                border: 0;
            }
            #bodyarea {
                background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAAZCAIAAACUxWgrAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADlJREFUeNpi/P//PwMDAxMDGLC8fv4cRDEyMoIoBgjFiJViAulhYULhESHHhKoSG4ViLdRlUAogwADulwZZy1%2BP%2BAAAAABJRU5ErkJggg%3D%3D) repeat-x scroll 0 0 #FFFFFF;
                padding: 10px 0 20px 20px;
            }
            #bodyarea h1 {
                color: #C1930B;
            }
            #bodyarea table th.header {
                background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
                background-position: right center;
                background-repeat: no-repeat;
                padding-right: 16px;
                padding-left: 2px;
            }
            #bodyarea table th.headerSortDown {
                background-color: #C1930B;
                background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
            }
            #bodyarea table th.headerSortUp {
                background-color: #C1930B;
                background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
            }